<p>{{data.titulo}}</p>

<div [formGroup]="form">
    <div class="container">
        <div class="row px-2">
            <div class="col-6 col-md-3 p-1">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Cuenta Xpay</mat-label>
                    <input matInput placeholder="Ej. Sucre" #input formControlName="xpayctanro" (keyUp.enter)="buscar()" readonly>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Alias</mat-label>
                    <input matInput placeholder="Ej. importadora20"  formControlName="username" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nro Doc</mat-label>
                    <input matInput placeholder="Ej. 123456789"  formControlName="codnip" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ej. Importadora 2000"  formControlName="nombre" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="botonera">
    <button (click)="onAceptClick()"> <mat-icon>close</mat-icon> Cerrar</button>
    <button mat-button color="primary" (click)="buscar()"> <mat-icon>search</mat-icon> Buscar</button>
</div>

<div #tableContainer class="container table-container">
        <table mat-table [dataSource]="dataSource.results" class="mat-elevation-z8"  *ngIf="dataSource.results" >
            <ng-container matColumnDef="xpayctanro">
                <th mat-header-cell *matHeaderCellDef style="width:15%" class="text-center">Cuenta</th>
                <td mat-cell *matCellDef="let element" class="text-center">{{element.xpayctanro}}</td>
            </ng-container>
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef style="width:2%" class="text-center">Activo</th>
                <td mat-cell *matCellDef="let element" class="text-center" style="width:2%" >
                    <mat-icon *ngIf="element.activo === 'S'; else inactivo" class="icon-catalogo check">check</mat-icon>
                    <ng-template #inactivo class="text-center">
                        <mat-icon class="icon-catalogo close">close</mat-icon>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="codnip">
                <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">Nro. Doc</th>
                <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell">{{element.codnip}}</td>
            </ng-container>
            <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef>Alias</th>
                <td mat-cell *matCellDef="let element">{{element.alias}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre del aliado</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRowClick(row)"></tr>
        </table>
</div>


<mat-paginator  [length]="dataSource.total_registros" 
                [pageSize]="dataSource.registros_x_pagina" 
                [nextPageLabel]="'Siguiente'"
                (page)="onPageChange($event)"
                *ngIf="dataSource.results">
</mat-paginator>


<div class="spinner-container" *ngIf="showSpinner" >
    <mat-spinner color="warn"></mat-spinner>
</div>
