<p>{{data.title}}</p>
<div class="container container-height">
    <div class="row h-100">
        <div class="col-12">
            <iframe class="w-100 h-100" title="renderedHtml" #renderedHtml></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12">
        <!-- mat-dialog-actions -->
        <div class="botonera border-top border-opacity-10"> 
            <button type="button" class="btn" mat-button [mat-dialog-close]="false" #btnFalse>Cerrar</button>
        </div>
    </div>
</div>
