

<div class="row pt-4 pb-2">
    <div class="col-12">
        <h2 class="text-center">
            Monedas en XityPay
        </h2>
    </div>
</div>
<div class="botonera-seleccion-usuario">
    <button mat-button color="primary" (click)="agregarMoneda()">Agregar Moneda</button>
    <button mat-button color="primary" [routerLink]="'/monedas-x-cuenta'">Asignar Moneda a Cuenta</button>
</div>

<div class="container pt-2">
    <div class="row">
        <div class="col-md-8 col-12 offset-md-2">
            <div class="info-text">
                Haga click sobre el nombre de una moneda para editarlo.
            </div>
        </div>
    </div>
</div>

<div class="container pt-2 pb-3" #top>
    



    <div #tableContainer class="container table-container mb-5">
    <table mat-table [dataSource]="dataSource.results" class="mat-elevation-z8 table-fixed"  *ngIf="dataSource.results" >

        <ng-container matColumnDef="moneda" >
            <th mat-header-cell *matHeaderCellDef class="d-noe d-md-table-cell" style="width: 70px;">Código</th>
            <td mat-cell *matCellDef="let element" class="d-noe d-md-table-cell"  style="width: 70px;">
                {{element.moneda}}
            </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td  mat-cell *matCellDef="let element" (click)="modMoneda(element)">{{element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef >Valor en Bs.</th>
            <td  mat-cell *matCellDef="let element" >{{element.tasa_ves}}</td>
        </ng-container>

        <ng-container matColumnDef="activo">
            <th class="text-center d-nne d-md-table-cell" mat-header-cell *matHeaderCellDef>Activo</th>
            <td class="text-center d-nne d-md-table-cell" mat-cell *matCellDef="let element">

            <mat-slide-toggle class="mb-1" [ngClass]="element.activo" [checked]="element.activo==='S'" disabled>
            </mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="boton">
            <th mat-header-cell *matHeaderCellDef  class="" style="width: 100px;"></th>
            <td mat-cell *matCellDef="let element" class="text-center"  style="width: 100px;">
                <mat-icon (click)="eliminaMoneda(element)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="col-12">
    <mat-paginator [length]="dataSource.total_registros" [pageSize]="dataSource.registros_x_pagina" 
        [nextPageLabel]="'Siguiente'"
        [pageSizeOptions]="[15, 25, 50, 100]"
        (page)="onPageChange($event)"
        *ngIf="dataSource.results">
    </mat-paginator>
</div>
</div>

<div class="spinner-container" *ngIf="showSpinner">
    <mat-spinner color="warn"></mat-spinner>
</div>