<h2 class="mt-3">
    Aliado
</h2>
<app-crud-bar (accion)="getAction($event)" [crud]="crud"></app-crud-bar>
<div #main class="container">
    <div class="pb-4" [formGroup]="form">

        <small>Campos marcados con (*) son requeridos</small>
        <div class="row pt-4">
            <div class="col-12" [hidden]="form.value.nroaliado===null">
                <div class="extra-info">
                    Nro Aliado: <strong><span #nroAliado ></span></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Alias
                    </mat-label>
                    <input matInput type="text" placeholder="Ej. imp2022" maxlength="64"  formControlName="alias" (keyup)="formatAlias($event)" [readonly]="this.form.value.nroaliado!==null">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-4 p-0">
                <mat-form-field class="w-100" [formGroupName]="'persona'">
                    <mat-label>
                        Tipo de Id.
                    </mat-label>
                    <mat-select formControlName="tipnip" (selectionChange)="changeNip($event)">
                        <!-- | callback:personaJuridica -->
                        <mat-option *ngFor="let tipnip of tablasApoyo.tipNip" 
                                    [value]="tipnip.tipnipcod">
                                        {{tipnip.tipnipnombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-4 p-0">
                <mat-form-field class="w-100"  [formGroupName]="'persona'">
                    <mat-label>
                        Número de Id.
                    </mat-label>
                    <input matInput type="text" maxlength="30"  placeholder="123456789" formControlName="codnip">
                    <button #formButton class="btn" mat-button matSuffix (click)="catalogoPersonaJuridica()" [disabled]="persona_juridica.value.tipnip==='TJ'">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="tipNipJuridico(form.value.persona.tipnip)">
            <div class="col-12 col-md-6 p-0">
                <mat-form-field class="w-100"[formGroupName]="'persona'">
                    <mat-label>
                        Razón Social
                    </mat-label>
                    <input matInput onblur="this.value = this.value.toUpperCase()" type="text" maxlength="64" placeholder="Ej. Compañía C.A." title="Nombre o designación oficial de la empresa" formControlName="nombrepersjuridica">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 p-0" [formGroupName]="'persona'">
                <mat-form-field class="w-100">
                    <mat-label>
                        Nombre Comercial
                    </mat-label>
                    <input matInput onblur="this.value = this.value.toUpperCase()"  type="text" maxlength="64" placeholder="Ej. Importadora 2002" title="Marca o palabra que se reconoce en el mercado" formControlName="siglaspersjuridica">
                </mat-form-field>
            </div>
        </div>
        <div class="row  " *ngIf="!tipNipJuridico(form.value.persona.tipnip)">
            <div class="col-12 col-md-6 p-0">
                <mat-form-field class="w-100"[formGroupName]="'persona'">
                    <mat-label>
                        Primer nombre (Aliado Natural)
                    </mat-label>
                    <input matInput oninput="this.value = this.value.toUpperCase()" type="text" maxlength="64" placeholder="Juan" title="Primer Nombre" formControlName="nombreprimero">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 p-0" [formGroupName]="'persona'">
                <mat-form-field class="w-100">
                    <mat-label>
                        Primer apellido (Aliado Natural)
                    </mat-label>
                    <input matInput oninput="this.value = this.value.toUpperCase()"  type="text" maxlength="64" placeholder="Pérez" title="Primer Apellido" formControlName="apellidoprimero">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 p-0" [formGroupName]="'persona'">
                <mat-form-field class="w-100"  [formGroupName]="'ocupacion_actividad'">
                    <mat-label>
                        Ocupación/Actividad
                    </mat-label>
                    <input matInput type="text" placeholder="Ej. Entretenimiento" readonly formControlName="ocupactivnombre">
                    <button #formButton class="btn" mat-button matSuffix (click)="catalogoOcupacion()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3 p-0">
                <mat-form-field class="w-100"[formGroupName]="'persona'">
                    <mat-label>
                        Año de inicio de operaciones
                    </mat-label>
                    <input matInput placeholder="AAAA" maxlength="4"  type="number" title="Fecha precisa si se conoce" formControlName="fechanacimiento" >
                    <!-- <input matInput placeholder="DD/MM/AAAA" title="Fecha precisa si se conoce" formControlName="fechanacimiento" [matDatepicker]="fchafiliacion">
                    <mat-datepicker-toggle matSuffix [for]="fchafiliacion"></mat-datepicker-toggle>
                    <mat-datepicker #fchafiliacion  ></mat-datepicker> -->
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Página Web
                    </mat-label>
                    <input matInput maxlength="128" placeholder="https://" formControlName="pagina_web" (blur)="checkWebPage($event)">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Categoría
                    </mat-label>
                    <mat-select  formControlName="categoriacod">
                        <mat-option *ngFor="let categoria of tablasApoyo.categoria" 
                                    [value]="categoria.cod">
                                        {{categoria.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Wifi para Clientes
                    </mat-label>
                    <mat-select formControlName="wifi">
                        <mat-option value="S">Sí</mat-option>
                        <mat-option value="N">No</mat-option>
                        <mat-option value="NA">No Aplica</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Público al que está orientado
                    </mat-label>
                    <mat-select formControlName="publico_orientado">
                        <mat-option *ngFor="let publico of tablasApoyo.publicoOrientado" 
                                    [value]="publico.cod">
                                        {{publico.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12 p-0 col-md-3" formArrayName="personas_relacionadas"  >
                <div [formGroupName]="i" *ngFor="let persona of personas_relacionadas.controls; let i = index">
                    <mat-form-field class="w-100" formGroupName="persona">
                        <mat-label>
                            Persona Responsable
                        </mat-label>
                        <input matInput placeholder="Carlos" type="text" readonly formControlName="nombrecorto">
                        <button #formButton class="btn" mat-button matSuffix (click)="buscarPerRelacionada()" *ngIf="visible">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>


            <div class="col-12">
                <div class="row align-items-end">
                    <div class="col-12 col-md-3 px-1">
                        <img class="img-avatar" [src]="avatar" alt="">
                    </div>
                    <div class="col-12 col-md-9 px-1">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>
                                Avatar
                            </mat-label>
                            <input matInput type="text" formControlName="url_avatar1" placeholder="https://pagina.com/image/mi-imagen.jpg" (keyup)="updateAvatar()">

                            <button title="Subir Avatar" mat-mini-fab type="button" #formButton class="btn" mat-button matSuffix (click)="uploadFile('url_avatar1','avatar','Avatar del Aliado')" >
                                <mat-icon>add_link</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-12 p-0 mb-4">
                <div class="w-100">
                    <div class="titulo-ngxeditor">
                        Breve resumen para presentación en Ofertas <small> - (Field: Des1)</small>
                    </div>


                    <quill-editor placeholder="Ingresa el resumen..." [modules]="quillToolbar" [ngClass]="{'no-edit':!visible}" formControlName="aliado_descripcion1" (paste)="paste($event)" ></quill-editor>

                    <!-- <ngx-editor-floating-menu [editor]="resumenEditor" [toolbar]="toolbar">
                        <ngx-editor-menu [editor]="resumenEditor" [toolbar]="toolbar"></ngx-editor-menu>
                    </ngx-editor-floating-menu>
                    <ngx-editor matInput [editor]="resumenEditor" formControlName="aliado_descripcion1" [placeholder]="'Ingresa el resumen...'"></ngx-editor> -->
                </div>


                <!-- <mat-form-field class="w-100">
                    <mat-label>
                        Breve resumen para presentación en Ofertas
                    </mat-label>
                    <textarea matInput formControlName="aliado_descripcion1"></textarea>
                </mat-form-field> -->
            </div>

            <div class="col-12 p-0 mb-4">
                <div class="w-100">
                    <div class="titulo-ngxeditor">
                        Texto para Descripción 1 en Ofertas <small> - (Field: of1)</small>
                    </div>

                    <quill-editor placeholder="Ingresa el resumen..." [modules]="quillToolbar" [ngClass]="{'no-edit':!visible}" formControlName="aliado_oferta1" (paste)="paste($event)" ></quill-editor>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12  p-0 mb-4">

                <div class="w-100">
                    <div class="titulo-ngxeditor">
                        Texto para Descripción 3 en Ofertas <small>- (Field: Pres)</small>
                    </div>

                    
                    <quill-editor placeholder="Ingresa la descripción..." [modules]="quillToolbar" [ngClass]="{'no-edit':!visible}" formControlName="aliado_presentacion" (paste)="paste($event)" ></quill-editor>


                    <!-- <ngx-editor-floating-menu [editor]="desc3Editor" [toolbar]="toolbar">
                        <ngx-editor-menu [editor]="desc3Editor" [toolbar]="toolbar"></ngx-editor-menu>
                    </ngx-editor-floating-menu>
                    <ngx-editor matInput [editor]="desc3Editor" formControlName="aliado_presentacion" [placeholder]="'Ingresa la descripción...'"></ngx-editor> -->
                </div>

                <!-- <mat-form-field class="w-100">
                    <mat-label>
                        Texto para Descripción 3 en Ofertas
                    </mat-label>
                    <textarea matInput formControlName="aliado_presentacion"></textarea>
                </mat-form-field> -->
            </div>
            <div class="col-12  p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Frases para generar y añadir HashTags (Coloque las frases separadas por coma)
                    </mat-label>
                    <textarea matInput placeholder="Ej. importadora, productos" formControlName="para_crear_tags" (blur)="appendTags($event)"></textarea>
                </mat-form-field>
            </div>
            <div class="col-12  p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        HashTags <small>- (Field: Des2)</small>
                    </mat-label>
                    <textarea matInput placeholder="Ej. #importadora, #productos" formControlName="aliado_descripcion2"  (blur)="removeDuplicateTags($event)"></textarea>
                </mat-form-field>
            </div>
            <div class="col-12 p-0">
                <mat-form-field class="w-100">
                    <mat-label>
                        Horario de Atención <small>- (Field: TR 5)</small>
                    </mat-label>
                    <textarea matInput maxlength="255" placeholder="Lu-Vie 8:00am-6:00pm" formControlName="campousuariochar_5"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0" >
                <mat-form-field class="w-100">
                    <mat-label>
                        Correo Público
                    </mat-label>
                    <input matInput type="text" maxlength="128"  placeholder="Ej. usuario@empresa.com" formControlName="email_publico" [readonly]="this.form.value.nroaliado!==null">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 p-0">
                <mat-form-field class="w-100" [formGroupName]="'persona'">
                    <mat-label>
                        Correo Principal
                    </mat-label>
                    <input matInput type="text" maxlength="128" placeholder="Ej. usuario@empresa.com" formControlName="email1">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 p-0">
                <mat-form-field class="w-100"[formGroupName]="'persona'">
                    <mat-label>
                        Correo Secundario
                    </mat-label>
                    <input matInput type="text" maxlength="128" placeholder="Ej. usuario@empresa.com" formControlName="email2">
                </mat-form-field>
            </div>
        </div>

        <!-- FRASES DESTACADAS -->
        <mat-accordion>

            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Frases Destacadas
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        Frase Destacada 1 <small>- (Field: TR 2)</small>
                                    </mat-label>
                                    <input matInput maxlength="255" placeholder="Frase Destacada" formControlName="campousuariochar_2">
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        Frase Destacada 2 <small>- (Field: TR 3)</small>
                                    </mat-label>
                                    <input matInput maxlength="255" placeholder="Frase Destacada" formControlName="campousuariochar_3">
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        Frase Destacada 3 <small>- (Field: TR 4)</small>
                                    </mat-label>
                                    <input matInput maxlength="255" placeholder="Frase Destacada" formControlName="campousuariochar_4">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>


        <!-- FORMAS DE PAGO -->
        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Formas de Pago
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                        <mat-slide-toggle class="p-3" formControlName="pagoDb">Débito</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoMc">MasterCard</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoVs">Visa</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoAm">Amex</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoTt">Todas las TC</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoPm">Pago Móvil</mat-slide-toggle>
                        <mat-slide-toggle class="p-3" formControlName="pagoZl">Zelle</mat-slide-toggle>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>


        <!-- CORREO Y REDES SOCIALES -->
        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Redes Sociales
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>
                    <mat-card-content>
                <div class="row p-3">
                    <div class="col-12 p-0">
                        <mat-form-field class="w-100">
                            <mat-label>
                                Usuario Instagram
                            </mat-label>
                            <input matInput type="text" placeholder="eneltapete_oficial" formControlName="rs_instagram">
                            <!-- <mat-hint>Usuario Instagram</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-0">
                        <mat-form-field class="w-100">
                            <mat-label>
                                Usuario Facebook
                            </mat-label>
                            <input matInput type="text" placeholder="mis.revistas" formControlName="rs_facebook">
                            <!-- <mat-hint>Usuario Facebook</mat-hint> -->
                        </mat-form-field>
                    </div>
                    <div class="col-12 p-0">
                        <mat-form-field class="w-100">
                            <mat-label>
                                Usuario Twitter
                            </mat-label>
                            <input matInput type="text" placeholder="knoios" formControlName="rs_twitter">
                            <!-- <mat-hint>Usuario Twitter</mat-hint> -->
                        </mat-form-field>
                    </div>
                </div>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>


        <!-- LOCALES ALIADO -->
        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Listado de Locales
                        <mat-icon>location_on</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div formArrayName="locales">

                    <div class="border p-3 border-radius" [formGroupName]="i" *ngFor="let direccion of locales.controls; let i = index">
                
                        <mat-form-field class="w-100">
                            <mat-label>
                                Nombre de Sucursal
                            </mat-label>
                            <input matInput maxlength="255" placeholder="Ej. Principal" formControlName="sucursal_nombre">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>
                                Dirección Línea 1
                            </mat-label>
                            <input matInput maxlength="128" placeholder="Ej. Calle 1" formControlName="dir_lin1">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>
                                Dirección Línea 2
                            </mat-label>
                            <input matInput fmaxlength="128" placeholder="Ej. Edf. ABC" formControlName="dir_lin2">
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>
                                Dirección Línea 3
                            </mat-label>
                            <input matInput maxlength="128" placeholder="Ej. Piso 1" formControlName="dir_lin3">
                        </mat-form-field>

                        <div class="row">
                            <div class="col-6 col-md-8">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        Localidad
                                    </mat-label>
                                    <input matInput placeholder="Ej. Gran Caracas" formControlName="localidad_texto" readonly >
                                    <button #formButton class="btn" matSuffix (click)="catalogoLocalidad(i)" *ngIf="visible">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-6 col-md-4">
                                <mat-slide-toggle formControlName="local_principal_bool" (click)="setLocalPrincipal(i)">Local Principal</mat-slide-toggle>
                            </div>
                        </div>

                        <mat-form-field class="w-100">
                            <mat-label>
                                Teléfonos
                            </mat-label>
                            <input matInput placeholder="+58 412 1234567,+58 212 1234567" formControlName="telefonos">
                            <mat-hint>
                                Teléfonos (Números de telefonos separados por coma, el primero con formato de número de teléfono válido)
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field class="w-50">
                            <mat-label>
                                Ubicación GPS
                            </mat-label>
                            <input matInput placeholder="00.00000,00.00000" (blur)="parseGpsData($event,i)" [disabled]="!visible">
                        </mat-form-field>

                        <mat-form-field class="w-25">
                            <mat-label>
                                Latitud
                            </mat-label>
                            <input type="number" placeholder="0.00000" matInput formControlName="dir_latitud">
                        </mat-form-field>


                        <mat-form-field class="w-25">
                            <mat-label>
                                Longitud
                            </mat-label>
                            <input type="number" placeholder="0.00000" matInput formControlName="dir_longitud">
                        </mat-form-field>
                        <button type="button" #formButton class="btn" mat-button (click)="deleteLocal(i)" *ngIf="visible"><mat-icon>delete</mat-icon>Eliminar</button>
                    </div>
                </div>


                <mat-card-actions>
                    <button #formButton class="btn w-100" mat-button (click)="addLocal(undefined)"><mat-icon>add</mat-icon>Añadir Local</button>
                </mat-card-actions>
            </mat-expansion-panel>
        </mat-accordion>



    </div>
</div>

    <!-- <button (click)="show()">show </button> -->
    <app-crud-bar (accion)="getAction($event)" [crud]="crud"></app-crud-bar>
<div class="spinner-container" *ngIf="showSpinner" >
    <mat-spinner color="warn"></mat-spinner>
</div>