<p>{{data.titulo}}</p>

<div [formGroup]="form">
    <div class="container" >
        <div class="row px-3">
            <div class="col-12 p-1">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Buscar...</mat-label>
                    <input #query type="text" matInput placeholder=""formControlName="query" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="botonera">
    <button (click)="onAceptClick()"> <mat-icon>close</mat-icon> Cerrar</button>
    <button mat-button color="primary" (click)="buscar()"> <mat-icon>search</mat-icon> Buscar</button>
</div>

<div #tableContainer class="container table-container multiple-buttons" >
    <table mat-table [dataSource]="dataSource.results" class="mat-elevation-z8" *ngIf="dataSource.results" >

        <ng-container matColumnDef="categoriacod">
            <th mat-header-cell *matHeaderCellDef  class="" style="width:25%"> Cod Categoría </th>
            <td mat-cell *matCellDef="let element" class=""> {{element.categoriacod}} </td>
        </ng-container>

        <ng-container matColumnDef="categorianombre">
            <th mat-header-cell *matHeaderCellDef  style="width:75%"> Categoría </th>
            <td mat-cell *matCellDef="let element"> {{element.categorianombre}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRowClick(row)"></tr>
    </table>
</div>

<mat-paginator [length]="dataSource.total_registros" [pageSize]="dataSource.registros_x_pagina" 
[nextPageLabel]="'Siguiente'"
(page)="onPageChange($event)"
*ngIf="dataSource.results"></mat-paginator>

<div class="spinner-container" *ngIf="showSpinner" >
    <mat-spinner color="warn"></mat-spinner>
</div>