<p>{{data.titulo}} {{tipoPersonaTexto(data.campousuariochar_1)}}</p>

<div [formGroup]="form">
    <div class="container">
        <div class="row px-2">
            <div class="col-6 col-md-3 p-1">
                <mat-form-field appearance="fill">
                    <mat-label>Nro. Persona</mat-label>
                    <input matInput placeholder="1234" type="number" formControlName="nropersona" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre / Nombre Comercial</mat-label>
                    <input matInput placeholder="Ej. Carlos" #inputNombre formControlName="nombrecorto" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field appearance="fill">
                    <mat-label>Razón Social (Pers Jurídica)</mat-label>
                    <input matInput placeholder="Ej. Distribuidora" #inputNombre formControlName="nombrecompleto" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 p-1">
                <mat-form-field appearance="fill">
                    <mat-label>Cédula/Rif</mat-label>
                    <input matInput placeholder="Ej.123456" formControlName="codnip" (keyUp.enter)="buscar()">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="botonera">
    <button (click)="onAceptClick()"> <mat-icon>close</mat-icon> Cerrar</button>
    <button mat-button color="primary" (click)="buscar()"> <mat-icon>search</mat-icon> Buscar</button>
</div>
<div #tableContainer class="container table-container multiple-buttons" >
    <table mat-table [dataSource]="dataSource.results" class="mat-elevation-z8" *ngIf="dataSource.results" >
        <ng-container matColumnDef="nropersona">
            <th mat-header-cell *matHeaderCellDef style="width:10%" class="text-center"> Nro. Persona</th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.nropersona}} </td>
        </ng-container>

        <ng-container matColumnDef="tipnip">
            <th mat-header-cell *matHeaderCellDef style="width:10%" class="text-center"> TipNip </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.tipnip}} </td>
        </ng-container>

        <ng-container matColumnDef="codnip">
            <th mat-header-cell *matHeaderCellDef style="width:10%"> Codnip </th>
            <td mat-cell *matCellDef="let element"> {{element.codnip}} </td>
        </ng-container>

        <ng-container matColumnDef="nombrecorto">
            <th mat-header-cell *matHeaderCellDef> Nombre / Nombre Comercial</th>
            <td mat-cell *matCellDef="let element"> {{element.nombrecorto}} </td>
        </ng-container>

        <ng-container matColumnDef="nombrecompleto">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo / Razón Social</th>
            <td mat-cell *matCellDef="let element"> {{element.nombrecompleto}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRowClick(row)"></tr>
    </table>
</div>


<mat-paginator [length]="dataSource.total_registros" [pageSize]="dataSource.registros_x_pagina" 
[nextPageLabel]="'Siguiente'"
(page)="onPageChange($event)"
*ngIf="dataSource.results"></mat-paginator>

<div class="botonera d-none">
    <button (click)="onAceptClick()">Cerrar</button>
    <button mat-button color="primary" (click)="buscar()">Buscar</button>
</div>


<div class="spinner-container" *ngIf="showSpinner" >
    <mat-spinner color="warn"></mat-spinner>
</div>